.jumbotron{
	background: url(../image/Apps.jpg) no-repeat center center/cover;
	height: 450px;
}
.divide{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;
    margin-top: 0px;
    max-width: 100%;
}
.first{
	float: left;
    color:white ;
    background-color:black;
    text-align: center;
}
.first img{
	margin: 10px;
}
.second{
	float: center;
    color: white;
    background-color:darkblue;
    text-align: center;
}
.second img{
	margin: 10px;
}
.third{
	float: right;
	color: white;
    background-color: darkgrey;
    text-align: center;
}
.third img{
	margin: 10px;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;
    margin-top: 0px;
    max-width: 100%;
}
.one{
    background: url(../image/dog.jpg) no-repeat center center/cover;
    background-color: grey;
}
.two{
    background: url(../image/cat.jpg) no-repeat center center/cover;
    background-color: grey;
}
.three{
    background: url(../image/parrot.jpg) no-repeat center center/cover;
    background-color: grey;
}

.tab{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;
    margin-top: 0px;
    max-width: 100%; 
}
.four{
    background: url(../image/th.jpg) no-repeat center center/cover;
    background-color: grey;
}
.five{
    background: url(../image/wagen.jpg) no-repeat center center/cover;
    background-color: grey;
}
.six{
    background: url(../image/move.jpg) no-repeat center center/cover;
    background-color: grey;
}